<div class="row g-3">
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-success">Sale</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/10.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Modern Sofa</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$64<span>$89</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.88 (39)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-primary">Sale</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/7.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Office Chair</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$100<span>$160</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.82 (125)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-danger">-10%</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/12.png" alt="">
            <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
            <ul class="offer-countdown-timer d-flex align-items-center shadow-sm" data-countdown="2022/12/09 23:59:59">
              <li><span class="days">0</span>d</li>
              <li><span class="hours">0</span>h</li>
              <li><span class="minutes">0</span>m</li>
              <li><span class="seconds">0</span>s</li>
            </ul></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Sun Glasses</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$24<span>$32</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.79 (63)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-warning">New</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/13.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Wall Clock</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$31<span>$47</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.99 (7)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-success">Sale</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/10.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Modern Sofa</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$64<span>$89</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.88 (39)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-primary">Sale</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/7.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Office Chair</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$100<span>$160</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.82 (125)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-danger">-10%</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/12.png" alt="">
            <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
            <ul class="offer-countdown-timer d-flex align-items-center shadow-sm" data-countdown="2022/12/09 23:59:59">
              <li><span class="days">0</span>d</li>
              <li><span class="hours">0</span>h</li>
              <li><span class="minutes">0</span>m</li>
              <li><span class="seconds">0</span>s</li>
            </ul></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Sun Glasses</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$24<span>$32</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.79 (63)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-warning">New</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/13.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Wall Clock</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$31<span>$47</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.99 (7)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-success">Sale</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/10.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Modern Sofa</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$64<span>$89</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.88 (39)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-primary">Sale</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/7.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Office Chair</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$100<span>$160</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.82 (125)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-danger">-10%</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/12.png" alt="">
            <!-- Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss -->
            <ul class="offer-countdown-timer d-flex align-items-center shadow-sm" data-countdown="2022/12/09 23:59:59">
              <li><span class="days">0</span>d</li>
              <li><span class="hours">0</span>h</li>
              <li><span class="minutes">0</span>m</li>
              <li><span class="seconds">0</span>s</li>
            </ul></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Sun Glasses</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$24<span>$32</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.79 (63)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Weekly Product Card -->
  <div class="col-12 col-md-6">
    <div class="card horizontal-product-card">
      <div class="card-body d-flex align-items-center">
        <div class="product-thumbnail-side">
          <!-- Badge --><span class="badge badge-warning">New</span>
          <!-- Wishlist Button --><a class="wishlist-btn" href="#"><i class="lni lni-heart"></i></a>
          <!-- Thumbnail --><a class="product-thumbnail d-block" href="single-product.html"><img src="assets/img/product/13.png" alt=""></a>
        </div>
        <div class="product-description">
          <!-- Product Title --><a class="product-title d-block" href="single-product.html">Wall Clock</a>
          <!-- Price -->
          <p class="sale-price"><i class="lni lni-dollar"></i>$31<span>$47</span></p>
          <!-- Rating -->
          <div class="product-rating"><i class="lni lni-star-filled"></i>4.99 (7)</div>
          <!-- Buy Now Button --><a class="btn btn-danger btn-sm" href="#"><i class="me-1 lni lni-cart"></i>Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
