<!-- Header Area-->
<div class="header-area" id="headerArea">
  <div class="container h-100 d-flex align-items-center justify-content-between">
    <!-- Logo Wrapper-->
    <div class="logo-wrapper"><a href="home.html"><img src="assets/img/core-img/logo-small.png" alt=""></a></div>
    <!-- Search Form-->
    <div class="top-search-form">
      <form action="" method="">
        <input class="form-control" type="search" placeholder="Enter your keyword">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <!-- Navbar Toggler-->
    <div class="suha-navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas"><span></span><span></span><span></span></div>

  </div>
</div>
<app-sidebar></app-sidebar>
