<!-- Register Form-->
<div class="register-form mt-5 px-4">
  <form action="otp.html" method="">
    <div class="form-group text-start mb-4"><span>Username</span>
      <label for="username"><i class="lni lni-user"></i></label>
      <input class="form-control" id="username" type="text" placeholder="Designing World">
    </div>
    <div class="form-group text-start mb-4"><span>Email</span>
      <label for="email"><i class="lni lni-envelope"></i></label>
      <input class="form-control" id="email" type="email" placeholder="help@example.com">
    </div>
    <div class="form-group text-start mb-4"><span>Password</span>
      <label for="password"><i class="lni lni-lock"></i></label>
      <input class="input-psswd form-control" id="registerPassword" type="password" placeholder="Password">
    </div>
    <button class="btn btn-warning btn-lg w-100" type="submit">Sign Up</button>
  </form>
</div>
<!-- Login Meta-->
<div class="login-meta-data">
  <p class="mt-3 mb-0">Already have an account?<a class="ms-1"[routerLink]="['/auth/']">Sign In</a></p>
</div>
